/*main.css*/

@import 'https://fonts.googleapis.com/css?family=Maitree|Quicksand';

/*_PRESETS________________________________________________________________*/

* h1,
h2,
h3, 
h4, 
h5,
h6 {
	font-family: 'Quicksand', sans-serif;
}
* p {
	font-family: 'Maitree', serif;
	font-weight: 200;
}

/*_______________________________________________________________________*/

.parallax img {
	display: block;
}
.parallax-container.first {
	background-image: url("../img/nutrient_background_pattern.png");
}
.parallax.first_box {
	position: initial;
}
#main_heading{
	text-align: center;
	margin-top: 6%;
}#nutriknow_main_heading {
	letter-spacing: 5px;
}
/*_______________________________________________________________________*/
.parallax-container.small {
	height: 50px;
}

.landing_page_section_header {
	text-align: center;
}
.landing_page_section_body {
	text-align: center;
}