/*main.css*/

.parallax img {
	display: block;
}
.parallax-container.first {
	background-image: url("../img/nutrient_background_pattern.png");
}
.parallax.first_box {
	position: initial;
}
#main_heading{
	text-align: center;
	margin-top: 6%;
}

.parallax-container.small {
	height: 50px;
}
#cute_food {
	height: 100%;
	width: 100%;
}
.landing_page_section_header {
	text-align: center;
}
.landing_page_section_body {
	text-align: center;
}