/*main.css*/

@import 'https://fonts.googleapis.com/css?family=Maitree|Quicksand';

/*_PRESETS________________________________________________________________*/
* h1,
h2,
h3, 
h4, 
h5,
h6 {
	font-family: 'Quicksand', sans-serif;
	text-transform: lowercase;
	color: #616163;
}
* p {
	font-family: 'Maitree', serif;
	font-weight: 200;
	color: #616163;
}

/*_LANDING PAGE_____________________________________________________________*/
.section.a,
.section.b,
.section.c {
	background-color: #E0FFFF;
}
.parallax img {
	display: block;
}
#main_heading{
	text-align: center;
	margin-top: 6%;
}
#nutriknow_main_heading {
	font-size: 6em;
	letter-spacing: 5px;
	margin-top: 10%;
}
#main_heading p {
	font-size: 173%;
    font-family: "quicksand", sans-serif;
}
.cute_food {
 	width: 175%;
}
#apple {
	margin-left: -4%;
}
#turkey_leg {
	margin-left: -28%;
    margin-top: -3%;
    width: 196%;
}
#egg {
    margin-left: -17%;
    margin-top: 23%;
    width: 146%;
}
#pear {
	margin-left: -44%;
    margin-top: 6%;
}
#eggplant {
	margin-left: -79%;
    margin-top: -25%;
    width: 219%;
}
#mushroom {
    margin-left: -72%;
    margin-top: 1%;
}

/*_______________________________________________________________________*/
.parallax-container.small {
	height: 75px;
}
.section.b,
.section.c {
	height: 300px;
}
.landing_page_section_header {
	text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.landing_page_section_body {
	text-align: center;
    font-size: 1.1em;
    line-height: 150%;
    padding-left: 11%;
    padding-right: 15%;
}
.btn {
	background-color: #ffbfa0;
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    color: #E0FFFF;
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    width: 14%;
    margin-top: 3%;
    margin-left: 42%;
}
footer.page-footer {
	margin-top: 0;
	background-color: #ffbfa0;
	font-family: 'Quicksand', sans-serif;
	text-transform: lowercase;
 }
